@model ISymbol
@{
    string[] packages = [.. Model.Packages];
    Uri[] sources = [.. Model.Sources];

    string packagesLabel = packages.Length == 1 ? "Package" : "Packages";
    bool firstPackage = true;
    string sourcesLabel = sources.Length == 1 ? "Source" : "Sources";
    bool firstSource = true;
}
<table class="fsc-typeinfo">
    <tbody>
        <tr>
            <td>@(packagesLabel)</td>
            <td>
                @foreach (string package in packages)
                {
                    @(firstPackage ? "" : ", ")
                    <a href="~/api/@package/">@package</a>
                    firstPackage = false;
                }
            </td>
        </tr>
        <tr>
            <td>@(sourcesLabel)</td>
            <td>
                @foreach (Uri source in sources)
                {
                    @(firstSource ? "" : ", ")
                    <a href="@source">@(source.Segments.Last())</a>
                    firstSource = false;
                }
            </td>
        </tr>
    </tbody>
</table>