@model ApiClassViewModel
@{
    IClassSymbol cls = Model.Class;

    bool hasFields = cls.Fields.Any();
    bool hasEvents = cls.Events.Any();
    bool hasProperties = cls.Properties.Any();

    bool hasConstructors = cls.Constructors.Any();
}

<h1>@Model.Class.Name Class</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    @if (hasFields)
    {
        <li><a href="#fields">Fields</a></li>
    }
    @if (hasEvents)
    {
        <li><a href="#events">Events</a></li>
    }
    @if (hasProperties)
    {
        <li><a href="#properties">Properties</a></li>
    }
    @if (hasConstructors)
    {
        <li><a href="#constructors">Constructors</a></li>
    }
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_SymbolInfo.cshtml" model=cls />

<code>@cls.Modifiers class @cls.Name</code>

<p>@Html.Raw(@cls.Comment.Summary)</p>

@if (hasFields)
{
    <partial name="_Fields.cshtml" model=cls.Fields />
}

@if (hasEvents)
{
    <partial name="_Events.cshtml" model=cls.Events />
}

@if (hasProperties)
{
    <partial name="_Properties.cshtml" model=cls.Properties />
}

@if (hasConstructors)
{
    <partial name="_Constructors.cshtml" model=cls.Constructors />
}

<partial name="_AppliesTo.cshtml" model=Model.AppliesTo />
