@model ApiClassViewModel

<h1>@Model.Class.Name Class</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_Packages.cshtml" model=Model.Class />

<p>
    Source(s):
    @foreach (var uri in Model.SourceUris)
    {
        <a href="@uri">@(uri.Segments.Last())</a>
    }
</p>

<code>@Model.Class.Modifiers class @Model.Class.Name</code>

<p>@Html.Raw(@Model.Class.Comment.Summary)</p>

<partial name="_TargetFrameworks.cshtml" model=Model.Class.Frameworks />
