@model ApiSymbolsViewModel<IConstructorSymbol>

<h1>@Model.Title</h1>

@foreach (IConstructorSymbol ctor in Model.Symbols)
{
    ApiAppliesTo appliesTo = new(ctor.Frameworks, ApiAppliesToLevel.H3, ctor.Id);

    <h2 id="@ctor.Id">@ctor.Name</h2>

    <h3>Definition</h3>

    <partial name="_SymbolInfo.cshtml" model=ctor />

    <div class="csharp"><pre><code>@ApiCode.Create(ctor)</code></pre></div>

    <p>@Html.Raw(ctor.Comment.Summary)</p>

    <partial name="_AppliesTo.cshtml" model=appliesTo />
}