@model ApiEnumViewModel
@{
    IEnumSymbol enm = Model.Enum;

    ApiAppliesTo appliesTo = new(enm.Frameworks);
}

<h1>@Model.Enum.Name Enum</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    <li><a href="#members">Members</a></li>
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_SymbolInfo.cshtml" model=enm />

<div class="csharp"><pre><code>@enm.Modifiers enum @enm.Name</code></pre></div>

<p>@Html.Raw(@enm.Comment.Summary)</p>

<h2 id="members">Members</h2>

<table class="table">
    <thead>
        <tr>
            <th>Member</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IMemberSymbol member in enm.Members)
        {
            <tr>
                <td><a href="~/api/@(member.Link).html">@member.Name</a></td>
                <td>@Html.Raw(@member.Comment.Summary)</td>
            </tr>
        }
    </tbody>
</table>

<partial name="_AppliesTo.cshtml" model=appliesTo />
