@model ApiSymbolViewModel<IEventSymbol>
@{
    IEventSymbol evt = Model.Symbol;

    ApiAppliesTo appliesTo = new(evt.Frameworks);
}

<h1>@evt.Name Event</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_SymbolInfo.cshtml" model=evt />

<div class="csharp"><pre><code>@evt.Modifiers event @evt.Type @evt.Name</code></pre></div>

<p>@Html.Raw(evt.Comment.Summary)</p>

<partial name="_AppliesTo.cshtml" model=appliesTo />
