@model ApiSymbolsViewModel<IFieldSymbol>

<h1>@Model.Title</h1>

@foreach (IFieldSymbol field in Model.Symbols)
{
    ApiAppliesTo appliesTo = new(field.Frameworks, ApiAppliesToLevel.H3, field.Id);

    <h2 id="@field.Id">@field.Name</h2>

    <h3>Definition</h3>

    <partial name="_SymbolInfo.cshtml" model=field />

    <div class="csharp"><pre><code>@field.Modifiers @field.Type @field.Name</code></pre></div>

    <p>@Html.Raw(field.Comment.Summary)</p>

    <partial name="_AppliesTo.cshtml" model=appliesTo />
}