@model ApiInterfaceViewModel
@{
    bool hasProperties = @Model.Interface.Properties.Any();
}

<h1>@Model.Interface.Name Interface</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    @if (hasProperties)
    {
        <li><a href="#properties">Properties</a></li>
    }
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_TypeInfo.cshtml" model=Model />

<code>@Model.Interface.Modifiers interface @Model.Interface.Name</code>

<p>@Html.Raw(@Model.Interface.Comment.Summary)</p>

@if (hasProperties)
{
    <partial name="_Properties.cshtml" model=Model.Interface.Properties />
}

<partial name="_TargetFrameworks.cshtml" model=Model.Interface.Frameworks />
