@model ApiNamespaceViewModel
@{
    INamespaceSymbol nms = Model.Symbol;

    IEnumerable<IEnumSymbol> enums = nms.Enums;
    bool hasEnums = enums.Any();

    IEnumerable<IInterfaceSymbol> interfaces = nms.Interfaces;
    bool hasInterfaces = interfaces.Any();

    IEnumerable<IClassSymbol> classes = nms.Classes;
    bool hasClasses = classes.Any();

    ApiAppliesTo appliesTo = new(nms.Frameworks);
}

<h1>@nms.Name Namespace</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    @if (hasEnums)
    {
        <li><a href="#enums">Enums</a></li>
    }
    @if (hasInterfaces)
    {
        <li><a href="#interfaces">Interfaces</a></li>
    }
    @if (hasClasses)
    {
        <li><a href="#classes">Classes</a></li>
    }
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_Packages.cshtml" model=nms />

<p>@Html.Raw(Model.Description)</p>
@Html.Raw(Model.Content)

@if (hasEnums)
{
    <h2 id="enums">Enums</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Enum</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enm in enums)
            {
                <tr>
                    <td><a href="~/api/@(enm.Link)/">@enm.Name</a></td>
                    <td>@Html.Raw(@enm.Comment.Summary)</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (hasInterfaces)
{
    <h2 id="interfaces">Interfaces</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Interface</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ifc in interfaces)
            {
                <tr>
                    <td><a href="~/api/@(ifc.Link)/">@ifc.Name</a></td>
                    <td>@Html.Raw(ifc.Comment.Summary)</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (hasClasses)
{
    <h2 id="classes">Classes</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var cls in classes)
        {
            <tr>
                <td><a href="~/api/@(cls.Link)/">@cls.Name</a></td>
                <td>@Html.Raw(@cls.Comment.Summary)</td>
            </tr>
        }
        </tbody>
    </table>
}

<partial name="_AppliesTo.cshtml" model=appliesTo />
