@model ApiNamespaceViewModel
@{
    INamespaceSymbol nms = Model.Namespace;
    ApiAppliesTo appliesTo = new(nms.Frameworks);
}

<h1>@nms.Name Namespace</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    @if (Model.HasEnums)
    {
        <li><a href="#enums">Enums</a></li>
    }
    @if (Model.HasInterfaces)
    {
        <li><a href="#interfaces">Interfaces</a></li>
    }
    @if (Model.HasClasses)
    {
        <li><a href="#classes">Classes</a></li>
    }
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_Packages.cshtml" model=Model.Namespace />

<p>@Html.Raw(nms.Comment.Summary)</p>

@if (Model.HasEnums)
{
    <h2 id="enums">Enums</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Enum</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Enums)
            {
                <tr>
                    <td><a href="~/api/@(e.Link)/">@e.Name</a></td>
                    <td>@Html.Raw(@e.Comment.Summary)</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.HasInterfaces)
{
    <h2 id="interfaces">Interfaces</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Interface</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Interfaces)
            {
                <tr>
                    <td><a href="~/api/@(i.Link)/">@i.Name</a></td>
                    <td>@Html.Raw(@i.Comment.Summary)</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.HasClasses)
{
    <h2 id="classes">Classes</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var c in Model.Classes)
        {
            <tr>
                <td><a href="~/api/@(c.Link)/">@c.Name</a></td>
                <td>@Html.Raw(@c.Comment.Summary)</td>
            </tr>
        }
        </tbody>
    </table>
}

<partial name="_AppliesTo.cshtml" model=appliesTo />
