@model ApiPackageDocument

<h1>@Model.Package.Name Package</h1>
<h2>In this article</h2>
<ul>
    <li><a href="#definition">Definition</a></li>
    <li><a href="#namespaces">Namespaces</a></li>
    <li><a href="#applies-to">Applies to</a></li>
</ul>
<h2 id="definition">Definition</h2>
<p>@Html.Raw(@Model.Package.Comment.Summary)</p>
<h2 id="namespaces">Namespaces</h2>
<table class="table">
    <thead>
        <tr>
            <th>Namespace</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ns in Model.Package.Namespaces)
        {
            <tr>
                <td><a href="~/api/@(ns.Link)/">@ns.Name</a></td>
                <td>@Html.Raw(@ns.Comment.Summary)</td>
            </tr>
        }
    </tbody>
</table>
<partial name="~/Views/Api/TargetFrameworks.cshtml" model=Model.Package.Frameworks />
