@model ApiPropertyViewModel
@{
    IPropertySymbol property = Model.Property;
    ApiAppliesTo appliesTo = new(property.Frameworks);
}

<h1>@property.Name Property</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_SymbolInfo.cshtml" model=Model.Property />

<code>@property.Modifiers @property.Type @property.Name @property.Accessors</code>

<p>@Html.Raw(property.Comment.Summary)</p>

<partial name="_AppliesTo.cshtml" model=appliesTo />
