@model ApiPropertyViewModel
@{
    IPropertySymbol property = Model.Property;
}

<h1>@property.Name Property</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_SymbolInfo.cshtml" model=Model />

<code>@property.Modifiers @property.Type @property.Name @property.Accessors</code>

<p>@Html.Raw(property.Comment.Summary)</p>

<h2 id="applies-to">Applies To</h2>

<partial name="_TargetFrameworks.cshtml" model=property.Frameworks />
